<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- 定义日志文件 输出位置 -->
    <springProperty scope="context" name="log_dir_bak" source="logging.location"/>
    <!-- 定义日志文件 输出名称 -->
    <springProperty scope="context" name="log_file_name" source="logging.fileName"/>
    <!-- 日志输出级别 -->
    <springProperty scope="context" name="log_levels" source="logging.levels"/>
    <!--服务名称-->
    <springProperty scope="context" name="log_server" source="spring.application.name"/>
    <!--服务ip-->
    <conversionRule conversionWord="ip" converterClass="cn.vision.components.log.config.ServerIpConfig" />

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/${log_dir_bak}"/>
    <property name="LOG_FILE_NAME" value="${log_file_name}"/>


    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出  %d:日期;  %traceId:追溯ID;  %originId:请求源 %thread:线程名;  %-5level:级别,;%msg:日志消息;%n:换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] [%X{originId}] [%thread] %highlight(%-5level) %cyan(%logger{50}) - %boldYellow(%msg) %n</pattern>
            <!-- 设置字符集 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--文件输出-->
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/${LOG_HOME}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出  %d:日期;  %traceId:追溯ID; %originId:请求源 %thread:线程名;  %-5level:级别,;%msg:日志消息;%n:换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] [%X{originId}] [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ASYNC log -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志，默认值80，如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="com.alibaba.nacos" level="WARN"/>
    <!-- 日志输出 -->
    <springProfile name="dev">
        <root level="${log_levels}">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_FILE"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <root level="${log_levels}">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_FILE"/>
        </root>
    </springProfile>
    <springProfile name="uat">
        <root level="${log_levels}">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_FILE"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="${log_levels}">
            <appender-ref ref="ASYNC_FILE"/>
        </root>
    </springProfile>

</configuration>