<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mike.backJava2024FreshmanTask.repository.QuestionInfoMapper">
    <resultMap id="BaseResultMap" type="com.mike.backJava2024FreshmanTask.entity.QuestionInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="question_desc" jdbcType="VARCHAR" property="questionDesc"/>
        <result column="creator_code" jdbcType="VARCHAR" property="creatorCode"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , question_desc, creator_code, creator_name, `status`, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from question_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mike.backJava2024FreshmanTask.entity.QuestionInfo"
            useGeneratedKeys="true">
        insert into question_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionDesc != null">
                question_desc,
            </if>
            <if test="creatorCode != null">
                creator_code,
            </if>
            <if test="creatorName != null">
                creator_name,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionDesc != null">
                #{questionDesc,jdbcType=VARCHAR},
            </if>
            <if test="creatorCode != null">
                #{creatorCode,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mike.backJava2024FreshmanTask.entity.QuestionInfo">
        update question_info
        <set>
            <if test="questionDesc != null">
                question_desc = #{questionDesc,jdbcType=VARCHAR},
            </if>
            <if test="creatorCode != null">
                creator_code = #{creatorCode,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                creator_name = #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mike.backJava2024FreshmanTask.entity.QuestionInfo">
        update question_info
        set question_desc = #{questionDesc,jdbcType=VARCHAR},
            creator_code  = #{creatorCode,jdbcType=VARCHAR},
            creator_name  = #{creatorName,jdbcType=VARCHAR},
            `status`      = #{status,jdbcType=TINYINT},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            update_time   = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getQuestionInfoById" resultType="com.mike.backJava2024FreshmanTask.entity.QuestionInfo">
        select * from question_info where `status` = 1 and id = #{questionId}
    </select>

    <select id="getQuestionList" resultType="com.mike.backJava2024FreshmanTask.entity.QuestionInfo">
        select * from question_info
        where `status` = 1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="questionDesc != null and questionDesc != ''">
            and question_desc LIKE CONCAT('%',#{questionDesc},'%')
        </if>
    </select>

</mapper>